* {
 
} 

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  color: rgb(196, 176, 64);
  margin: 10%;
  background-color: blueviolet;
  padding: 10px;
}

label {
  padding: 6px;
}

#email, #age {
  background-color: #ddd;
  padding: 10px;
  border: none;
  outline: none;
}

.feedbackEmail-error, .feedbackAge-error  {
  color: red;
  padding: 2px;
}

.feedback-text {
  width: 100%;
  height: 100%;
  background-color: ;
  padding: 10px;
  outline: none;
  resize: none;
  overflow-y: auto;
}

textarea {

}

.button {
  width: 140px;
  align-self: center;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

p {
  margin: 0;
}

h1 {
  align-self: center;
}